* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.AppBar {
  width: 100%; 
  z-index: 1100;
  margin-bottom: 0;
  background-color: #ca9802;  
}

.sidebar {
  width: 250px; 
  position: fixed; 
  top: 10px; 
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
  height: 100vh; 
  background-color: #ffffff; 
  padding-top: 0; 
  padding-bottom: o;
  margin-bottom: o;
}
.logoutButton {
  background-color: #006400; /* Dark green color */
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}


.sidebar a {
  color: rgb(0, 0, 0); 
  padding: 12px; 
  text-decoration: none; 
  display: block; 
}

.sidebar a:hover {
  background-color: #e3e2e2; 
}
.sidebar .user-profile {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;

}

.sidebar .profile-pic {
  width: 50px; /* Or whatever size you want */
  height: 50px; /* Make sure this is the same as the width for a circle */
  border-radius: 50%; /* This will make the image round */
  margin-bottom: 10px;
  object-fit: cover;
}

.sidebar .user-info .user-name,
.sidebar .user-info .user-email {
  color: #333; /* This is a dark color for the text */
  text-align: between; /* Center the text */
}


.logo-container {
  width: 100%;
  /* Remove the border-bottom line */
  padding: 0rem 0.5rem; /* Adjust the padding to suit your design */
  background: #fff; /* Set background color if necessary */
  
   
}

.content {
  margin-left: 250px;
  padding-top: 5px;
  width: calc(100% - 250px);
  padding: 20px; 
  overflow-y: auto; 
  position: relative; 
}


.App-logo, .App-header, .App-link {
  display: none;
}

.logout-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #01860f; 
}

.contact-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 200px; 
  resize: vertical;
  width: 500px; 
}

.contact-form button {
  width: 500px;
  padding: 1rem 2rem;
  background: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background: #fffb0f;
}

/* Responsive design */
@media (max-width: 768px) {
  .contact-container {
    width: 90%;
    padding: 1rem;
  }

  .contact-form button {
    padding: 0.8rem 1.6rem;
  }
}

