.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tar upp hela skärmens höjd */
    background: #F5F5F5; /* Exempel på bakgrundsfärg */
  }
  
  .login-form {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Överstyr Material-UI's TextField grundstilar */
  .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  /* Överstyr Material-UI's Button grundstilar */
  .MuiButton-containedPrimary {
    background-color: #fdbe00; /* Gul färg för knappen */
    padding: 10px 20px;
    text-transform: none; /* Förhindra versaler */
  }
  