.container {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 20px;
    width: 80%;
  }
  
  .header {
    margin-bottom: 24px;
  }
  
  .reports-table .table-row {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .reports-table .table-row.header {
    font-weight: bold;
  }
  /*.table-row.text-center {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
  
  
  /*.reports-table .table-cell {
    flex: 1;
    padding: 470px; 
    align-items: center;
    justify-content: center;
  } */
  
  .reports-table .table-cell {
    flex: 1;
    text-align: center; /* Centrera texten horisontellt */
  }
  
  .table-row.text-center {
    display: flex;
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: center; /* Centrera innehållet vertikalt */
    height: auto; /* Återgå till automatisk höjd för raderna */
  }
  
  .reports-table .button-cell button {
    /* Style your buttons here to match the theme of your app */
  }
  
  /* Add more styles as per your design requirements */
  